.row.text-center
  %p 
    This is the profile page for
    = @user.username

  = image_tag @user.avatar_url, alt: "#{@user.username}",
    class: "profile-page-portrait"
.row
  .col-md-6
    .profile-repos
      - @repos.each do |repo|
        .panel.panel-default
          %a{href: "#{repo.html_url}"}
            .panel-heading= repo.name
            - if !repo.description.nil? || !repo.description == ""
              .panel-body= repo.description
  .col-md-6 
    .profile-languages
      .profile-languages-percents
        %canvas#languages-doughnut
        #languages-doughnut-legend
:javascript
  buildLanguagesDoughnut('#{ j @languages_percents.to_json }');
