#profile-page
  .row.text-center
    .profile-header
      = image_tag @user.avatar_url, alt: "#{@user.username}",
        class: "profile-page-portrait"
      .page-header
        %h1= @user.full_name


  .row
    .col-md-12 
    .profile-languages
      .profile-languages-percents
        %canvas#languages-doughnut
        #languages-doughnut-legend
  .row
    .col-md-12
      .profile-repos
        - @repos.each do |repo|
          .panel.panel-default
            %a{href: "#{repo.html_url}"}
              .panel-heading= repo.name
              - if !repo.description.nil? || !repo.description == ""
                .panel-body= repo.description

:javascript
  buildLanguagesDoughnut('#{ j @languages_percents.to_json }');
