.row.text-center
  %p 
    This is the profile page for
    = @user.username

  = image_tag @user.avatar_url, alt: "#{@user.username}",
    class: "profile-page-portrait"
.row
  .col-md-6
    .profile-repos
      %ul
        - @repos.each do |repo|
          %li
            %a{href: "#{repo.html_url}"}= repo.name
  .col-md-6 
    .profile-languages
      .profile-languages-percents
        %canvas#languages-doughnut
        #languages-doughnut-legend
:javascript
  buildLanguagesDoughnut('#{ j @languages_percents.to_json }');
