!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no", name: "viewport"}
    = yield(:title)
    = stylesheet_link_tag :application, :media => 'all'
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container-wrapper
      .container
        / .row.row-offcanvas.row-offcanvas-right
        /   .col-xs-12
        /     .pull-right
        /       .button{type: "button", class: "btn btn-primary", "data-toggle" => "offcanvas"} ShowMenu
        /   .col-md-12.sidebar-offcanvas#sidebar{role: "navigation"}
        /     %a{ href: "#", class: "" } Link
        /     %a{ href: "#", class: "" } Link
        /     %a{ href: "#", class: "" } Link
        /     %a{ href: "#", class: "" } Link
        /     %a{ href: "#", class: "" } Link
        /     %a{ href: "#", class: "" } Link
        /     %a{ href: "#", class: "" } Link
      - if notice
        %p= notice    
      - if current_user 
        = link_to "Sign out", signout_path
      - else
        = link_to "Sign in with Github", "/auth/github"
      
      = yield
